<li><a href="/account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/about2" title="About">About</a></li>
<li><a href="/logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/contact" title="Contact">Contact</a></li>

<h3>Project Name which is Editable</h3>
<h3>Project Summary which is Editable</h3>
<h3>Phase IV TABLE </h3>

AUTO RANK.|.....ACTION/DESCRIPTION (sorted using secret logic) |....NEW RANK..|.BUTTONS<br>
........................FOUNDATIONAL.......<br>
....1.....|.....sorted task from phase 3.......................|...Add Integer|add row above task AND delete<br>
....2.....|.....sorted task from phase 3.......................|...Add Integer|add row above task AND delete<br>
....3.....|.....sorted task from phase 3.......................|...Add Integer|add row above task AND delete<br>
........................INTERMEDIARY.......<br>
....4.....|.....sorted task from phase 3.......................|...Add Integer|add row above task AND delete<br>
....5.....|.....sorted task from phase 3.......................|...Add Integer|add row above task AND delete<br>
....6.....|.....sorted task from phase 3.......................|...Add Integer|add row above task AND delete<br>
........................FINAL.......<br>
....7.....|.....sorted task from phase 3.......................|...Add Integer|add row above task AND delete<br>

<center>a message from ariadne</center>

<li><a href="/phase_4_saved" title="Phase 4 Complete">SAVE FOR NOW</a></li>
<li><a href="/phase_5" title="Phase 4 Complete">SAVE AND CONTINUE TO PHASE V</a></li>
