<h1>Welcome to the Fake Contact Page</h1>
<br>
<li><a href="/fake_account_home" title="Home">Home</a></li>
<li><a href="/fake_about" title="About">About</a></li>
<li><a href="/fake_logout" title="Logout">Logout</a></li>

<h1>SEND ME AN EMAIL MESSAGE</h1>
<h2>PROVE YOU'RE NOT A COMPUTER!<br>
Find all the grains of salt in this picture of sugar!<br></h2>
