<h1>Welcome to the Fake LOGIN</h1>
<br>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/fake_about" title="About">About</a></li>
<li><a href="/fake_signup" title="Signup">Signup</a></li>

<center><h2>LOGIN</h2></center>

<form class="" action="/fake_account_home" method="POST">
<center>
  <label for="email">EMAIL: </label><br>
  <input type="string" name="email" value=""><br><br>

  <label for="password">PASSWORD: </label><br>
  <input type="string" name="password" value=""><br><br>

  <input type="submit" value="LOGIN">
</center>
</form>
