<center><h2>SIGN UP</h2></center>

<form class="" action="/fake_account_home" method="post">
<center>
  <label for="username">USERNAME: </label><br>
  <input type="string" name="username" value="this is a default"><br><br>

  <label for="first_name">FIRST NAME: </label><br>
  <input type="string" name="first_name" value=""><br><br>

  <label for="email">EMAIL: </label><br>
  <input type="string" name="email" value=""><br><br>

  <label for="password">PASSWORD: </label><br>
  <input type="string" name="password" value=""><br><br>

  <input type="submit" value="CREATE USER">
</center>
</form>



<li><a href="/fake_account_home" title="Home">LOGGED IN HOME</a></li>

don't want to sign up
<li><a href="/" title="Home">Home</a></li>
