@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }


  /* --- Welcome Page Styles --- */
  body {
   background-color: #EBD7DD;
   color: navy;
   font-family: Sans-Serif;
   line-height: 18px;
 }

 /* unvisited link */

  a:link {
    color: ivory;
    font-size: 21px;
    text-shadow: 0 0 8px violet;
    padding: 8px;
  }

  /* visited link */
  a:visited {
    color: ivory;
    font-size: 21px;
    text-shadow: 0 0 8px violet;
    padding: 8px;
  }

  /* mouse over link */
  a:hover {
    color: snow;
    font-size: 21px;
    text-shadow: 0 0 8px hotpink;
    padding: 8px;
  }

  /* selected link */
  a:active {
    color: ivory;
    font-size: 21px;
    text-shadow: 0 0 8px violet;
    padding: 8px;
  }

  .wrapper {
    background-color: #EBF5F7;
    background-image: linear-gradient(to bottom right, #EBF5F7, #D7E5EB);
    -moz-box-shadow: 0px 5px 55px 0px rgba(190, 212, 229, 0.8);
    -webkit-box-shadow: 0px 5px 55px 0px rgba(190, 212, 229, 0.8);
    box-shadow: 0px 5px 55px 0px rgba(190, 212, 229, 0.8), inset 0px 0px 55px 0px rgba(246, 226, 226, .8);
    margin: 18px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 95%;
    animation: shadow-pulse2 20s infinite;
  }

@keyframes shadow-pulse2
  {
    50% {
      box-shadow: 0 0px 89px 0px rgba(246, 226, 226, 0.8), inset 0px 0px 55px 0px rgba(235, 215, 221, .8);
    }
  }

  .wrapper-frame {
    background-color: #EBD7DD;
    background-image: linear-gradient(to bottom right, #EBD7DD, #d7ebe5);
    -moz-box-shadow: 0px 0px 89px 0px rgba(215,235,229, 0.5);
    -webkit-box-shadow: 0px 0px 89px 0px rgba(215,235,229, 0.5);
    box-shadow: 0px 0px 89px 0px rgba(215,235,229, 0.5), inset 0px 0px 34px 0px rgba(215, 229, 235, 0.5);
    margin: 144px auto;
    max-width: 960px;
    padding: 5%; /* 18px / 800px */
    width: 96%;
    animation: frame-pulse 20s infinite;
  }

@keyframes frame-pulse
    {
      50% {
        box-shadow: 0 -3px 144px 0px rgba(235, 245, 247, 0.5), inset 0px 0px 55px 0px rgba(209, 215, 236, 0.5);
      }
    }

 .flex-container {
   display: flex;
 }

 .glow {
  font-size: 89px;
  color: #FDFEFE;
  text-align: center;
  -webkit-animation: glow 20s ease-in-out infinite alternate;
  -moz-animation: glow 20s ease-in-out infinite alternate;
  animation: glow 20s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 8px #FDFEFE, 0 0 13px ##FDFEFE, 0 0 21px #EFDFE4, 0 0 34px #E8EBF6, 0 0 55px #F9FBFC, 0 0 89px #FBF3F3, 0 0 144px #EBD7DD;
  }

  to {
    text-shadow: 0 0 13px #FDFEFE, 0 0 21px #F8E8E8, 0 0 34px #F1F3F9, 0 0 55px #DFEAF2, 0 0 89px #FEFCFC, 0 0 144px #F1E3E7, 0 0 233px #d7ebe5;
  }
}

  .glowsmall {
   font-size: 34px;
   color: #ffffff;
   text-align: center;
   -webkit-animation: glow 8s ease-in-out infinite alternate;
   -moz-animation: glow 8s ease-in-out infinite alternate;
   animation: glow 8s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glowsmall {
   from {
     text-shadow: 0 0 21px #ffffff, 0 0 21px #f7fbf9, 0 0 21px #eff7f4, 0 0 55px #e7f3ef, 0 0 21px #ebf5f2, 0 0 21px #f3f9f7, 0 0 34px #fbfdfc;
   }

   to {
     text-shadow: 0 0 34px #FDFBFC, 0 0 34px #F9F3F5, 0 0 34px #F5EBEE, 0 0 34px #F1E3E7, 0 0 13px #EDDBE0, 0 0 34px #EBD7DD, 0 0 55px #d7ebe5;
   }
  }

 h1 {
   font-size: 36px;
   line-height: 54px;
 }

 h2 {
   border-bottom: 2px solid #ccc;
   font-size: 24px;
   line-height: 36px;
   margin-bottom: 16px;
 }

 h3 {
   font-size: 20px;
   line-height: 36px;
 }

 p {
   font-size: 18px;
   margin-bottom: 18px;
 }

 .main {
   overflow: hidden;
 }

 .content {
   float: left;
   width: 60%; /* 480px / 800px */
 }

 .sidebar {
   background: #eee;
   border: 1px solid #ccc;
   float: right;
   padding: 2.08333333333%; /* 5px / 240px */
   width: 30%; /* 240px / 800px */
 }

 .sidebar ul {
   font-size: 14px;
 }

 .branding {
   clear: both;
 }

 footer.branding {
   border-top: 2px solid #ccc;
   margin-top: 20px;
   padding-top: 20px;
 }
}

@media screen and (max-width: 600px) {
 .wrapper {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   width: auto;
 }

 .content, .sidebar {
   float: none;
   width: 100%;
 }

 .sidebar {
   background: transparent;
   border: none;
   border-top: 2px solid #ccc;
   padding: 0;
 }

 h1 {
   font-size: 24px;
   line-height: 36px;
 }

 h2 {
   font-size: 18px;
   line-height: 24px;
 }
}
