<li><a href="/fake_account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/fake_about2" title="About">About</a></li>
<li><a href="/fake_logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/fake_contact" title="Contact">Contact</a></li>

<h1>THIS IS YOUR MOST RECENT SAVED DATA FOR PHASE V</h1>

<h3>Project Name which is Editable</h3>
<h3>Project Summary which is Editable</h3>
<h3>Phase V TABLE </h3>

<center>MESSAGE FROM ARIADNE</center>

------------------------------------------------------------------------------
[1] clean the attic ... imagine that the user deletes [1] before clicking use<br>
as new project q:: should I really start with the attic?  I realize there may<br>
be a squirrel nest in there. Perhaps I should check with the roofing company<br>
or maybe put this as optional.<br>
[2] clean the kitchen<br>
q: I walked over there and it didn’t seem too yucky perhaps let’s not and say we did.<br>
imagine the user also deletes [2] before clicking use as new project<br>
[3] attempt to unlock cupboard to get cookies NOW<br>
[4] clean the basement (toilet supplies here)<br>
[5] clean bathrooms, and remember the toilets<br>
[6] wash car passive aggressively with toilet brush<br>
<strong>[6.5] also wash brother’s bicycle with toilet brush <—— You can add whatever<br></strong>
<br>you want, even a float like [6.5] ... it doesn’t matter it’s for you.</strong><br>
[7] clean the garage with car slop<br>
[8] vacuum the 2nd floor<br>
[9] revenge eat all cookies before brother home<br>
[10] wax the car<br>


<center>a message from ariadne</center>

<li><a href="/phase_5_saved" title="Phase 5 Complete">SAVE AGAIN.</a></li>
<li><a href="/projects" title="Return to Projects Home">Return to Projects Home</a></li>
