<h1>Welcome to the Fake About Page for LOGGED IN</h1>
<br>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/fake_contact" title="CONTACT">CONTACT</a></li>
<li><a href="/fake_logout" title="Logout">Logout</a></li>

<h1>here's some info about Ariadne and how it works... nice screenshots, probably the pdf deck</h1>
<h1>Also, perhaps a note that you can only access contact if logged in.</h1>
