You fill out<br>
USERNAME<br>
FIRST NAME<br>
EMAIL<br>
PASSWORD<br>
and then you are redirected here:
<li><a href="/fake_account_home" title="Home">LOGGED IN HOME</a></li>

don't want to sign up
<li><a href="/" title="Home">Home</a></li>
