<h1>Welcome to the Fake LOGIN</h1>
<br>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/fake_about" title="About">About</a></li>
<li><a href="/fake_signup" title="Signup">Signup</a></li>

YOU FILL OUT THE LOGIN INFO<br>
email___________<br>
password ____________<br>
<br><br>
and then you're taken to "account_home"
