<h1>ABOUT</h1>
<br>
<div><center>
<a href="/signup" title="Signup">Signup</a> | <a href="/login" title="Login">Login</a><br>
</center></div><br>
<h2><br></h2>
<h2>It’s easier to have a sense of what must be done than where to begin. This app tries to solve that problem.<br><br></h2>
<h3>The inspiration for the name of the app comes from Greek Mythology.  Ariadne was the princess that helped Theseus navigate the maze and slay The Minotaur.  When it comes to projects, they often feel like mazes with lots of options and no clear indicator of the best choice, nor even a preferable choice at any given moment.<br><br>
Making decisions can feel like something out of a movie, a scene where the heroine is at a fork in the tunnel where one option feels just as bad as the next.<br><br>
Mazes (like projects) have many choices, many obstacles, and even minotaurs (in the form of unplanned work/rework) that ambush us causing us to fall behind and abandon hope.<br><br>
A familiar experience caused by the abundance of choices (whether all good or all bad) is “writer’s block” or “analysis paralysis.”  When possibilities are endless it’s difficult to decide where to start.  It’s like being at that fork in the dungeon tunnel, not with two options but twenty-two.<br><br>
When it comes to productivity, we have OKRs (objectives and key results), KPIs (key performance indicators), The Theory of Constraints (TOC), Lean as popularized by Eric Ries, The Five Whys of Taiichi Ohno, Gene Kim, Deming and beyond…<br><br>
ARIADNE is meant to be the “Dollar Store Knockoff” (for all of the above), AND for a project managed by one person.</h3>
