<center><h1>LOGIN</h1></center>
<br>
<div><center>
<a href="/signup" title="Signup">Signup</a> | <a href="/about" title="About">About</a><br><center></div>
<br>
<form action="/login" method="post">
<center>  <input type="text" name="email" placeholder="type your email to login" size="30"/>
  <input type="text" name="password" placeholder="type your password to login" size="30"/>
  <br><br>
  <input type="submit" value="Log In"/>
</center>
</form>
