<center><h1>SIGNUP</h1></center>
<br>
<div><center>
<a href="/login" title="Login">Login</a> | <a href="/about" title="About">About</a><br><center></div>
<br><br>
<form class="" action="/you_signedup" method="post">
  <center>
  <input type="string" name="first_name" placeholder="Enter Your First Name" size="20"><br>
  <input type="string" name="email" placeholder="Enter Your Email" size="20"><br>
  <input type="string" name="password" placeholder="password... 1234, maybe?" size="20"><br>
  <input type="string" name="beta_key" placeholder="enter the key you received" size="20">
  </center>
    <br><br>
  <center>
    <input type="submit" value="CREATE USER">
  </center>
</form>
<br><br>
