<h2><%= @user.first_name %>'s Projects Index</h2>

<center><h3>CREATE A NEW PROJECT</h3></center>

<form class="" action="/new_project" method="post">
<center>
  <label for="project_name">PROJECT NAME: </label><br>
  <input type="string" name="project_name" value="What do you want to call your project"><br><br>

  <label for="project_summary">PROJECT SUMMARY: </label><br>
  <input type="string" name="project_summary" value=""><br><br>

  <input type="submit" value="CREATE PROJECT">
</center>
</form>
