<li><a href="/account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/about2" title="About">About</a></li>
<li><a href="/logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/contact" title="Contact">Contact</a></li>

<h3>Project Name which is Editable</h3>
<h3>Project Summary which is Editable</h3>
<h3>Phase III TABLE </h3>

 NOTE: won't need buttons for adding rows etc... (maybe as a bonus feature)
 more realistically, and more easily... can give the user the ability to delete a row and also add a new row.
 IF they add a new row, they could be bounced to a temporary phase 3 view which is the equivalent of both the comment or measure
 as well as question time... it would be a small loop, but easier than having the user edit.

If a user can delete a row, and likewise if they can add a new one, then that may circumvent having to edit in place.

A bigger issue/problem might be to create an iterative form that will submit and unknown number of segments.
I really don't want to have this done on individual pages, because it's important to see the context.

ACTION/DESCRIPTION (sorted using secret logic) |....SEGMENT..|.BUTTONS<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>

<li><a href="/phase_3_saved" title="Phase 3 Complete">SAVE FOR NOW</a></li>
<li><a href="/phase_4" title="Phase 3 Complete">SAVE AND CONTINUE TO PHASE IV</a></li>
