<li><a href="/account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/about2" title="About">About</a></li>
<li><a href="/logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/contact" title="Contact">Contact</a></li>

<h1>THIS IS YOUR MOST RECENT SAVED DATA FOR PHASE III</h1>

<h3>Project Name which is Editable</h3>
<h3>Project Summary which is Editable</h3>
<h3>Phase III TABLE </h3>

ACTION/DESCRIPTION (sorted using secret logic) |....SEGMENT..|.BUTTONS<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>
sorted task from phase 2.......................|...Dropdown..|add row above task AND delete<br>

<li><a href="/phase_3_saved" title="Phase 3 Complete">SAVE AGAIN</a></li>
<li><a href="/phase_4" title="Phase 3 Complete">SAVE AND CONTINUE TO PHASE IV</a></li>
