<br>
<!--<h1 class="glow">PHASE II</h1>-->
<br>

<center><h2><%=@task.the_action_description%></h2><center>
  <br>

<form class="" action="/phase_2/<%= @project.id %>/<%= @task.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% helpful_messages = ["What could possibly go wrong with this task?", "Is there anything you haven't considered about this?", "Will it be obvious when you've completed this task?", "Can it be measured?"]%>
  <center>helpful_message.sample </center>
    <textarea style="resize: none" rows="3" cols="60" type="string" name="comment_or_measure"><%= @task.comment_or_measure %></textarea>
<center class="glowblue"><input type="submit" value="SUBMIT THIS COMMENT"></center>
</form>

<br>
<center>a message from ariadne</center><br>
