<h1 class="glow">CONTACT</h1>

  <div class="glowsmall"><center>
    <br>
   <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
  </center></div><br>
  <center><div class="typewriter"><h3><center><strong class="glowblue">adam<br>is at<br>comedytragedyepic.com</strong></center></div>
  <br>
