<br>
<!--<h1 class="glow">PHASE I</h1>-->
<br>

<form class="" action="/create_a_new_project" method="post">
  <center>
  <input type="string" name="project_name" placeholder="Type in the name of your project" size="70"><br><br>
  <input type="string" name="project_summary" placeholder="What's the point? This can be a summary or the 'WHY?' of what you're doing." size="70"><br><br>
  <textarea style="resize: none" rows="40" cols="68" type="text" name="the_initial_blob_to_parse">
  &#10;&#9;A NOTE FROM THE CREATOR OF ARIADNE:&#10;&#13;
  &#9;I created this program because I find when I keep thoughts inside my head, it's very easy to become trapped in an internal thinking loop.  The conscious act of writing lists forces you to articulate things that you only THINK you understand.&#13;
  &#9;Writing lists helps you untangle problems, but it can become a chore if you do it wrong.&#13;
  &#9;The right way of making lists is not about the list, but that organization follows identification.  Even if you don't know what needs to be done, you probably DO know what problems or obstacles you face.  You CAN almost always identify what troubles you.  So, starting from there, you can then rephrase the problems as tasks to complete.&#13;
  &#9;In other words: "I don't know how to do X" will be rewritten as "Learn X."&#13;
  &#9;"My code is broken" is rewritten as "Fix the code."&#13;
  &#9;"I don't know who the main character of my novel should be" becomes "choose a main character."&#13;
  &#9;Doing this with pen and paper, or note cards, or even using two plain text editors side by side can become tedious.&#13;
  &#9;ENTER ARIADNE: a web app to untangle complicated problems by transforming the chore of list writing into the art of introspection.&#13;&#13;
  &#9;TO GET THE MOST OUT OF ARIADNE:&#13;
  &#9;1) make an unordered list of the obstacles or the challenges you face, just type out a conversation with yourself.  Ask yourself something and then answer it.&#13;
  &#9;2) then, using the format below, identify your tasks.&#13;&#13;
  &#9;&#9;&#9;&#9;&#9;&#9;YES!!! IT'S THAT EASY.&#13;&#13;
  &#9; T: all you need to do is put a T and an E around your task (or the obstacle you want to rephrase as one) :E &#13;
  &#9; t: this works too :e &#13;
  &#9; T: so does this :E &#13;
  &#9; T: and this :E &#13;&#13;
  &#9; Click on phase 1 preview and you'll see that only those things you specifically identify as tasks are parsed. Here's to collaborating with your subsconscious.&#13;&#13;
  &#9;Best Wishes,&#13;
  &#9;&#9;--Adam Weissman, 2020
</textarea><br>
   <input type="hidden" name="user_id" value=<%=@user.id%>>
   <input type="hidden" name="current_phase" value="1">
   <input type="submit" value="PREVIEW">
</form>
<br><br>



<!--<center>a message from ariadne</center>-->
