<h3>Project Name INPUT</h3>
<h3>Project Summary INPUT</h3>
<h3>Phase I Blob INPUT</h3>
________________________________________________<br>
|                                              |<br>
|                                              |<br>
|                                              |<br>
|          ALL YOUR DATA FROM NEW PROJECT      |<br>
|                  IS HERE.                    |<br>
|           WITH THE MESSED UP t: instead of   |<br>
|           t:: or q: instead of q::           |<br>
|                                              |<br>
--------------------------------------------------

<center>a message from ariadne</center>

<li><a href="/phase_1_preview" title="Phase I Preview">PREVIEW</a></li>
