<li><a href="/account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/about2" title="About">About</a></li>
<li><a href="/logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/contact" title="Contact">Contact</a></li>

<h1> IT'S SAVED TO YOUR DATABASE.  YOU CAN QUIT AND COME BACK LATER IF YOU WANT.</h1>

<h3>Project Name INPUT FROM PREVIOUS PAGE... but you can still edit here, just remember to SAVE it or continue to phase III </h3>
<h3>Project Summary INPUT FROM PREVOIUS PAGE... but you can still edit here, just remember to SAVE it or continue to phase III</h3>

NOTE: continuing to the next phase should automatically save any changes made on a page, regardless of preview or not.

<h3>Phase I Blob INPUT FROM PREVOIUS PAGE</h3>

<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>

<center>a message from ariadne</center>

<h3>CONTINUE TO PHASE II</h3>
<li><a href="/phase_2" title="Your data persists">SAVE IT FOR NOW.</a></li>

<center>a message from ariadne</center>
