<h1>PHASE I DATA COMPLETE PARSED TASKS FORMALIZED!</h1>
<a href="/account_home" title="Home">Home</a> | <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>

<h3>Phase I Blob INPUT FROM PREVOIUS PAGE</h3>

<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>

<center>a message from ariadne</center>

<h3>CONTINUE TO PHASE II</h3>
<li><a href="/phase_2" title="Your data persists">SAVE IT FOR NOW.</a></li>

<center>a message from ariadne</center>
