<h1> this is your preview, DON'T GO BACK OR YOU'LL LOSE YOUR DATA. probably.</h1>

<%= @user.first_name %> this is what you've got so far.<br>

<%= @project.project_name %><br>
<%= @project.project_summary %><br>
<%= @project.the_initial_blob_to_parse.split("t::") %><br> this is a mess but the right idea.

<h3>Project Name INPUT FROM PREVIOUS PAGE... can edit here</h3>
<h3>Project Summary INPUT FROM PREVOIUS PAGE... can edit here</h3>
<h3>Phase I Blob INPUT FROM PREVOIUS PAGE</h3>

<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>
<h4>IT LISTS ALL THE TASKS</h4>


<center>a message from ariadne</center>

<h3>IF YOU'RE MISSING SOMETHING MAKE SURE YOU DID YOU t:: and q:: CORRECTLY</h3>
<li><a href="/phase_1_preview_something_sucked_let_me_fix_it" title="basically new project but with the previous data persisted/unaltered">Go back and fix it</a></li>

<h3>NAHHH, EVERYTHING LOOKED KOSHER.  SAVE IT FOR NOW and COME BACK LATER.</h3>
<li><a href="/phase_1_saved" title="Your data persists">SAVE IT FOR NOW.</a></li>

<h3>I'M ON A ROLL.  SAVE IT AND CONTINUE TO PHASE II</h3>
<li><a href="/phase_2" title="Your data persists">ON TO PHASE 2.</a></li>
