<h1>ABOUT (LOGGED OUT)</h1>
<br>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/signup" title="Signup">Signup</a></li>
<li><a href="/login" title="Login">Login</a></li>

<h1>here's some info about Ariadne and how it works... nice screenshots, probably the pdf deck</h1>
<h1>Also, perhaps a note that you can only access contact if logged in.</h1>
