<h1>ABOUT</h1>
<br>
<a href="/" title="Home">Home</a> | <a href="/signup" title="Signup">Signup</a> | <a href="/login" title="Login">Login</a><br>
<br>
here's some info about Ariadne and how it works... nice screenshots, probably the pdf deck. Also, perhaps a note that you can only access contact if logged in.
