<h1>LOGIN</h1>
<br>
<a href="/" title="Home">Home</a> | <a href="/signup" title="Signup">Signup</a> | <a href="/about" title="About">About</a><br>
<br>
<form action="/login" method="post">
  <label for="email">EMAIL: </label>
  <input type="text" name="email" id="email" value="type your email to login" size="30"/>

  <br></br>

  <label for="password">Password:</label>
  <input type="text" name="password" id="password" value="type your password to login" size="30"/>

  <br></br>

  <input type="submit" value="Log In"/>
</form>
