<h1>Login (You're LOGGED OUT)</h1>
<br>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/about" title="About">About</a></li>
<li><a href="/signup" title="Signup">Signup</a></li>

<h2>LOGIN</h2>

<form class="" action="/account_home" method="POST">
  <label for="email">EMAIL: </label><br>
  <input type="string" name="email" value=""><br><br>

  <label for="password">PASSWORD: </label><br>
  <input type="string" name="password" value=""><br><br>

  <input type="submit" value="LOGIN">
</form>
