<center><h1 class="glowblue">LOGIN</h1></center>
<br>
<div class="glowsmall"><center>
<a href="/signup" class="glowsmall" title="Signup">Signup</a> | <a href="/about" class="glowsmall" title="About">About</a><br><center></div>
<br>
<form action="/login" method="post">
<center>  <input type="text" name="email" placeholder="type your email to login" size="30"/>
  <input type="text" name="password" placeholder="type your password to login" size="30"/><br><input type="submit" value="Log In"/></center>
</form>
