<center><h1 class="glowblue">SIGNUP</h1></center>
<br>
<div class="glowsmall"><center>
<a href="/login" class="glowsmall" title="Login">Login</a> | <a href="/about" class="glowsmall" title="About">About</a><br><center></div>
<br><br>
<form class="" action="/you_signedup" method="post">
  <center><input type="string" name="first_name" placeholder="Enter Your First Name" size="20">
  <input type="string" name="email" placeholder="Enter Your Email" size="20"><input type="string" name="password" placeholder="password... 1234, maybe?" size="30"></center><br><br>
  <center>
  <input type="submit" value="CREATE USER"></center>
</form>
<br><br>
