<h1>>SIGN UP (You're logged out)</h1>

<form class="" action="/account_home" method="post">
  <label for="username">USERNAME: </label><br>
  <input type="string" name="username" value="this is a default"><br><br>

  <label for="first_name">FIRST NAME: </label><br>
  <input type="string" name="first_name" value=""><br><br>

  <label for="email">EMAIL: </label><br>
  <input type="string" name="email" value=""><br><br>

  <label for="password">PASSWORD: </label><br>
  <input type="string" name="password" value=""><br><br>

  <input type="submit" value="CREATE USER">
</form>

<li><a href="/account_home" title="Home">LOGGED IN - ACCOUNT HOME</a></li>

Don't want to sign up? <br>
<li><a href="/" title="Home">Home</a></li>
