<h1>SIGN UP (You're logged out)</h1>
<a href="/" title="Home">Home</a> | <a href="/login" title="Login">Login</a> | <a href="/about" title="About">About</a><br>
<br>
<form class="" action="/you_signedup" method="post">
  <label for="first_name">FIRST NAME: </label><br>
  <input type="string" name="first_name" value="Type Your First Name" size="30"><br><br>

  <label for="email">EMAIL: </label><br>
  <input type="string" name="email" value="Type Your Email" size="30"><br><br>

  <label for="password">PASSWORD: </label><br>
  <input type="string" name="password" value="Type Your Password" size="30"><br><br>

  <input type="submit" value="CREATE USER">
</form>
<br><br>

Don't want to sign up afterall?  It's okay.  GO <a href="/" title="Home">HOME!</a>
