<h1>ACCOUNT HOME (LOGGED OUT)</h1>
<br>
PRETEND YOU'RE LOGGED OUT.<br>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/about" title="About">About</a></li>
<li><a href="/login" title="Login">Login</a></li>
<li><a href="/signup" title="Signup">Signup</a></li>
<br>
PRETEND YOU'RE LOGGED IN.<br>
<li><a href="/account_home" title="Home">Home</a></li>
