<br>
<br>
<br>
<center><h1 class="glow">ARIADNE</h1></center>
<br>
<br>
<br>
<div class="glowsmall">
<center><a href="/about" class="glowblue" title="About">About</a> | <a href="/login" class="glowblue" title="Login">Login</a> | <a href="/signup" class="glowblue" title="Signup">Signup</a></center><br>
</div>
