<h1>ABOUT </h1>
<br>
<a href="/account_home" title="Home">Home</a> | <a href="/projects" title="Projects">Projects</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>

NOTE: can only access CONTACT is logged in.
