<h1>ACCOUNT HOME (LOGGED IN)</h1>
<br>
<a href="/account_home" title="Home">Home</a> | <a href="/projects" title="Projects"><strong>Projects</strong></a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
<br>
<h2><%= @user.first_name %>'s Info Page</h2>
<h3>Your email is: <%= @user.email %></h3>

FIRST NAME ...YOU CAN EDIT<br>
EMAIL ...YOU CAN EDIT<br>
PASSWORD ...YOU CAN EDIT <br><br>
