<br><center class="glowsmall">
<a href="/account_home" title="Home">Home</a> | <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
<br></center>
<br>
<h2><%= @user.first_name %>'s Info Page</h2>
Your email is: <%= @user.email %>

USER SHOULD BE ABLE TO EDIT THEIR NAME OR EMAIL
