<h1>CONTACT</h1>
<br>
<li><a href="/account_home" title="Home">Home</a></li>
<li><a href="/about" title="About">About</a></li>
<li><a href="/logout" title="Logout">Logout</a></li>

<h2>PROVE YOU'RE NOT A COMPUTER!<br>
Find all the grains of salt in this picture of sugar!<br></h2>
