<center><i>This is the fake start not logged in.</i><br>

<h1>Welcome to the Fake Home Page</h1>
<br>

PRETEND YOU'RE LOGGED OUT.
<li><a href="/" title="Home">Home</a></li>
<li><a href="/fake_about" title="About">About</a></li>
<li><a href="/fake_login" title="Login">Login <strong>WORKS</strong></a></li>
<li><a href="/fake_signup" title="Signup">Signup <strong>WORKS</strong></a></li>

PRETEND YOU'RE LOGGED IN.
<li><a href="/fake_account_home" title="Home">Home</a></li>

NOTE: fake_start is the same as / <br>
Only ABOUT, LOGIN, SIGNUP on main menu -- UNLESS LOGGED IN.
