<form class="" action="/login" method="post"

  <label for="email">EMAIL: </label>
  <input type="string" name="email" value="">
  <label for="password">PASSWORD: </label>
  <input type="string" name="password" value="">
  <input type="submit" value="LOGIN">

</form>
