<center><h2>SIGN UP</h2></center>

<form class="" action="/projects" method="post">
<center>
  <label for="username">USERNAME: </label><br>
  <input type="string" name="username" value="this is a default"><br><br>

  <label for="first_name">FIRST NAME: </label><br>
  <input type="string" name="first_name" value=""><br><br>

  <label for="email">EMAIL: </label><br>
  <input type="string" name="email" value=""><br><br>

  <label for="password">PASSWORD: </label><br>
  <input type="string" name="password" value=""><br><br>

  <input type="submit" value="CREATE USER">
</center>
</form>
