Fill out your information to sign up.

<form class="" action="/users" method="post"

  <label for="username">USERNAME: </label>
  <input type="string" name="username" value="">

  <label for="first_name">FIRST NAME: </label>
  <input type="string" name="first_name" value="">

  <label for="email">EMAIL: </label>
  <input type="string" name="email" value="">

  <label for="password">PASSWORD: </label>
  <input type="string" name="password" value="">

  <input type="submit" value="CREATE USER">

</form>
