<h1>O.M.G. YOU DELETED IT!!!</h1>

<li><a href="/account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/about2" title="About">About</a></li>
<li><a href="/logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/contact" title="Contact">Contact</a></li>

<h1>NOW YOU'VE DONE IT!  IT'S GONE.  F O R E V E R.</h1>
picture of a gloating minotaur.<br><br>
<center>a message from ariadne</center>
