<h1>O.M.G. YOU DELETED IT!!!</h1>

<a href="/account_home" title="Home">Home</a> | <a href="/projects" title="Projects"><strong>Projects</strong></a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>

<h1>NOW YOU'VE DONE IT!  IT'S GONE.  F O R E V E R.</h1>
picture of a gloating minotaur.<br><br>
<center>a message from ariadne</center>
