<h1>EDIT THE PROJECT YOU SELECTED ON THE PREVIOUS PAGE</h1>

<li><a href="/account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/about2" title="About">About</a></li>
<li><a href="/logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/contact" title="Contact">Contact</a></li>

<center>a message from ariadne</center><br><br>

this will require some logic to take you to the <strong>last SAVED phase</strong> of the project<br><br>
the route is:  phase_X_complete_with_data
