<h1>EDIT THE PROJECT YOU SELECTED ON THE PREVIOUS PAGE</h1>

<a href="/account_home" title="Home">Home</a> | <a href="/projects" title="Projects"><strong>Projects</strong></a> | <a href="/about" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
<br>




<center>a message from ariadne</center><br><br>

this will require some logic to take you to the <strong>last SAVED phase</strong> of the project<br><br>
the route is:  phase_X_complete_with_data
