<br>
<h1 class="glow">PHASE I</h1>
<br>

<form class="" action="/create_a_new_project" method="post">
  <center>
  <input type="string" name="project_name" placeholder="Type in the name of your project" size="70"><br><br>
  <input type="string" name="project_summary" placeholder="Type in a project summary" size="70"><br><br>
  <textarea style="resize: none" rows="50" cols="68" type="text" name="the_initial_blob_to_parse">THESE ARE YOUR INSTRUCTIONS.&#10;&#13;
  You can type whatever you want in here... have a conversation with yourself.  Get your subconscious A C T I V A T E D.
  Let your words be as if AsTrEaMoFcOnScIoUsNeSs ..
  You might ask yourself: "WHAT IS IT THAT I CAME HERE TO DO"&#10;
  When you decide that T: i have come to tackle a goal.  Certain tasks must be completed in order to fulfill that goal :&#13;
  You don't need to know the order of the tasks, nor do you need to be certain.&#13;
  All you must do is t: make a list of the things that... if they are all accomplished fulfill your project :e
  And you can make a list of other things associated with what the goal might be...&#13;
  the order of things does not matter.  That comes later... but knowing things like:&#10;&#13;
  T: "to accomplish the big goal, I need this LITTLE TASK here" :e&#10;&#13;
  t: I also NEED this mid-size task completed :e&#10;&#13;
  t: I should probably complete this task/goal as well :E&#10;&#13;
  t: this task also e: t: and some ill defined task 'right here' :e T: and this task also :E&#13;
  The only thing that matters is you follow the t and e format above.  Although, they are not case sensitive.
</textarea><br>
   <input type="hidden" name="user_id" value=<%=@user.id%>>
   <input type="hidden" name="current_phase" value="1">
   <input type="submit" value="PHASE I PREVIEW">
</form>
<br><br>



<center>a message from ariadne</center>
