<h1>WELCOME TO PROJECTS HOME</h1>

<li><a href="/account_home" title="Home General">Home Main</a></li>
<li><a href="/projects" title="PROJECTS">PROJECTS HOME</a></li>
<li><a href="/about2" title="About">About</a></li>
<li><a href="/logout" title="LOGOUT"><strong>LOGOUT</strong></a></li>
<li><a href="/contact" title="Contact">Contact</a></li>

There will be a greeting <strong>message from Ariadne</strong> that adds 'eus' to your name:
as in Theseus.<br><br>

there's a list of ALL or NONE of your projects<br>
if you have projects, they're sorted by most recent to oldest.<br>
they also have the <strong>PROJECT TITLE</strong> and <strong>PROJECT SUMMARY</strong><br><br>


You can do the following:<br><br>
<li><a href="/create_a_new_project" title="CREATE A PROJECT">Create a New Project</a></li>
<li><a href="/edit_a_project" title="EDIT A PROJECT">Edit a Project</a></li>
<li><a href="/delete_a_project" title="DELETE A PROJECT">Delete a Project</a></li>
