<h1>WELCOME TO PROJECTS HOME</h1>

<a href="/account_home" title="Home">Home</a> | <a href="/projects" title="Projects">About</a> | <a href="/about" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
<br>
Greetings <%= @user.first_name %>eus<br><br>

there's a list of ALL or NONE of your projects<br>
if you have projects, they're sorted by most recent to oldest.<br>
they also have the <strong>PROJECT TITLE</strong> and <strong>PROJECT SUMMARY</strong><br><br>

You can do the following:<br><br>
<a href="/create_a_new_project" title="CREATE A PROJECT">Create a New Project</a> | <a href="/edit_a_project" title="EDIT A PROJECT">Edit a Project</a> | <a href="/delete_a_project" title="DELETE A PROJECT">Delete a Project</a>
